@media print {
    .panel {
        width: 340px;
        min-height: 230px;
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
        page-break-inside: avoid !important;
        /*background-color: grey;*/
    }

    .panel-heading {
        padding: 5px 10px;
    }
    .panel-default {
        border-color: #555;
    }
    .panel-default > .panel-heading {
        border-color: #555;
    }
    .panel-body {
        padding: 0 15px;
    }
    .radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
        /*float: left;*/
        margin-left: -27px;
        -moz-transform: scale(0.7);
    }
    /*
    input[type="checkbox"] {
        TODO : find a way to remove background;
    }
    */
    .qcm-body {
        padding-top: 0;
        font-size: 11px;
    }

    .radio, .checkbox {
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: 17px;
    }

    .answer {
        padding-right: 1px;
        padding-top: 2px;
    }

    .question {
        padding-left: 10px;
        padding-right: 10px;
    }

    .col-lg-11, .col-xs-10 {
        width: 94%;
        padding-left: 5px;
        padding-right: 0px;
    }
    .col-lg-1, .col-xs-2 {
        width: 6%;
    }
    .points {
        padding-left: 0;
        padding-right: 2px;
        font-weight: bold;
        text-align: right;
    }
    .qcm-title {
    	/*margin-bottom: 10px;*/
        margin-left: 5px;
        margin-right: 17px;
    }
    .qcm-title-print {
        display: none;
    }
}


@media screen and (max-width: 767px) {
    .question .points {
    	padding-left:0;
    }
    .container-fluid {
        padding-right: 30px;
    }

    .navbar-form {
        margin-right: 0;
    }

}

@media screen {
    body {
        max-width: 700px;
        margin:10px auto 0 auto;
        overflow: scroll;
        padding-top: 60px;
    }

@-moz-document regexp(".*") {
    .row {
        padding-top: 3px;
        padding-left: 10px;
    }
}

.score {
	font-weight: bold;
}

.navbar-left {
    margin-left:0;
}

.navbar-text,
.navbar-btn {
    margin-left:15px;
}

.answers {
    padding: 0px 15px;
}

.answer-text,
.dropdown {
    cursor: pointer;
}

.form-group .navbar-search .form-control {
    width:45px;
}
.navbar-search .text {
    display:inline-block;

    margin-left: 5px;
    margin-top: 7px;
}
.points {
    margin-left: -50px;
    text-align: right;
}
.question .points {
    font-weight: bold;
}
.good-answer {
    color: #3c763d;
}
.bad-answer {
    color: #C13030;
}
.warning-answer {
    color: #CD7400;
}
.good-not-checked-answer {
    color: #666;
}
.panel-warning .panel-heading {
    background-color: #FFE5C1;
    color:#AA6C00;
    border-color: #FED4AA;
}

.panel-warning {
    border-color: #FED4AA;
}

.warning-answer {
    color: #CD7400;
}
.good-score {
    color: #5EA05F;
}
.bad-score {
    color: #CC5250;
}

.modal {
    display: block;
}
.modal-open {
    overflow: auto;
}

.navbar-questions-text {
    margin-left: 0;
}

/* Custom dialog/modal headers */

.dialog-header-error { background-color: #d2322d; }
.dialog-header-wait { background-color: #428bca; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: #333333; }
.dialog-header-error span, .dialog-header-error h4,
.dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }

.pad { padding: 25px; }

.loader {
	width:30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
}

.qcm-title {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-right: 0px;
}

.qcm-title-right {
	text-align: right;
}

.qcm-title-print {
    color: red;
}
.qcmID {
    margin-left: 15px;
    margin-top: 8px;
}

.qcmID label {
    margin-right: 5px;
}

.qcmID .form-control {
    width: 180px;
    text-align: center;
    margin-right: 20px;
}

.btn-reload {
}

.has-error {
    color:#C30B08;
}

.radio, .checkbox {
    margin-left: 17px;
}

.glyphicon {
    top: 2px;
}

.changelog-version-title {
    padding-bottom: 15px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 16px;
}

.changelog-title {
    font-weight: bold;
}

.changelog-content {
    padding-top: 15px;
}

.changelog-version {
    margin-bottom: 10px;
}
