<div class="panel panel-default">
    <div class="panel-heading">A propos : QCM FFVL version {{main.version}}</span>  -  Questionnaire officiel</div>
    <div class="panel-body">
        Auteur : Jérémy Ruffet (<a href="mailto:sat@airnux.fr">sat@airnux.fr</a>)
        <br/><br/>
        Pour toute demande de modification du questionnaire (questions / réponses), merci d'envoyer un mail à <a href="mailto:request-qcm@ffvl.fr?Subject=Modif QCM">request-qcm@ffvl.fr</a>
        <br/><br/>
        Cet application web est développée bénévolement.
        <br/>
        Elle est open source et accessible sur github (<a href="https://github.com/sativouf/qcmffvl">https://github.com/sativouf/qcmffvl</a>).</a>
        <br/>
        N'hésitez pas à m'envoyer des rapports de bugs, problèmes d'affichage ou des suggestions par mail.
        <br/>
        A noter que dans la vie je ne suis pas du tout dev web, et tout conseil de quelqu'un de métier est le bienvenu.
        <br/><br/>
        Cette web app a été conçue pour être multi-support (mobile / tablette / desktop) et multi-OS (Linux / Windows / MAC...).
        <br/><br/>
        La totalité du questionnaire n'est chargé qu'une seule fois d'un point de vue réseau.
        <br/>
        Cela veut dire qu'il vous suffit de charger la page sur votre mobile avant de partir, et vous pourrez vous faire d'innombrables QCMs FFVL, sans avoir jamais besoin de connexion data !
        <br/><br/>
        Cette "appli web" a été testée comme fonctionnant correctement avec Chrome et Firefox.
        <br/>
        Merci d'utiliser un de ces 2 navigateurs si vous expérimentez des soucis.
        <br/><br/>
        Et bien entendu, les bières et les mails de remerciement sont les bienvenus ! :)
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">CHANGELOG</div>
    <div class="panel-body">
        <div class="changelog-version row">
            <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 3.0</span>
            <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Améliorations / Changements</div>
                <ul class="changelog-content">
                    <li>Ajout du support des questions Delta (et retour à un navbar collapse sur 1200px).</li>
                    <li>L'ID QCM (bouton partage) est maintenant lié à une version de QCM, les anciens IDs QCM ne sont plus compatibles avec les versions 3.X et supérieur, qui intègrent cette fonctionnalité.</li>
                </ul>
            </div>
            <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Bugfixes</div>
                <ul class="changelog-content">
                    <li>Correction d'une mauvaise génération de l'URL de partage où l'ID pouvait être répété 2 fois.</li>
                </ul>
            </div>
        </div>
        <div class="changelog-version row">
            <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 2.2</span>
            <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Améliorations / Changements</div>
                <ul class="changelog-content">
                    <li>Simplification du code couleur : si une bonne réponse n'est pas cochée, alors l'afficher en gras (au lieu de orange/rouge)</li>
                    <li>Ajout d'une modale pour partager le QCM ID, et permettre le chargement d'un questionnaire donné via une URL.</li>
                </ul>
            </div>
        </div>
        <div class="changelog-version row">
            <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 2.1</span>
            <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Améliorations / Changements</div>
                <ul class="changelog-content">
                    <li>Suppression des boutons corriger / résultat en mode examen.</li>
                    <li>Retour au début de la page quand le mode de questionnaire est modifié.</li>
                </ul>
            </div>
        </div>
        <div class="changelog-version row">
            <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 2.0</span>
            <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Améliorations / Changements</div>
                <ul class="changelog-content">
                    <li>Nouveau code couleur de correction plus intuitif (vert, orange, rouge, en fonction des réponses utilisateur)</li>
                    <li>Ajout du QCM ID, qui identifie de manière unique un questionnaire, une catégorie, un niveau et un nombre de questions. Intègre un checksum pour éviter les erreurs dans les partages d'ID.</li>
                    <li>Ajout du mode examen papier (candidat / examinateur), avec CSS pour l'impression. Les questionnaires sont identifiables par leur "code" CRC.</li>
                    <li>Affichage des boutons corriger et recharger quand la navbar est fermée pour les displays mobiles/tablettes.</li>
                    <li>Page "A propos" : Ajout d'un bouton "Retour QCM" plus intuitif que de cliquer sur "QCM FFVL".</li>
                    <li>Réduction de l'opacité du contenu quand la navbar est ouverte.</li>
                </ul>
            </div>
            <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Bugfixes</div>
                <ul class="changelog-content">
                    <li>Affichage sur la même ligne des réponses et des points (après correction) sur les mobiles.</li>
                    <li>Collapse de la navbar à 1200px pour éviter de manger la 1ere question sur toutes les tailles (retravail de la navbar pour rentrer dans 1200 px).</li>
                    <li>Checkboxs complètement désactivées quand la navbar est ouverte.</li>
                </ul>
            </div>
        </div>
        <div class="changelog-version row">
            <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 1.2</span>
            <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Bugfixes</div>
                <ul class="changelog-content">
                    <li>Changer les options en étant dans la page "à propos" redirige vers la page QCM au lieu d'afficher "Chargement..." au milieu de la page.</li>
                </ul>
            </div>
        </div>
        <div class="changelog-version row">
            <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 1.1</span>
            <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Améliorations / Changements</div>
                <ul class="changelog-content">
                    <li>En mode smartphone/tablette, quand le formulaire est cliqué, la barre de menu se réduit (et rien ne se coche/décoche)</li>
                </ul>
            </div>
        </div>
        <div class="changelog-version row">
            <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 1.0</span>
            <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                <span class="col-xs-12 col-md-12 col-lg-12">Première version !</span>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Remerciements</div>
    <div class="panel-body">
        <div class="about row">
            <div class="about-part col-xs-12 col-md-12 col-lg-12">
                <div class="about-title col-xs-12 col-md-12 col-lg-12">Augustin</div>
                <ul class="about-content">
                    <li>Suggestion du nouveau code couleur (version 2.0)</li>
                    <li>Suggestion du bouton "Corriger" dans la navbar sur mobile (version 2.0)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
