<div class="panel panel-default">
    <div class="panel-heading">A propos : QCM FFVL version 1.3 (dev)</div>
    <div class="panel-body">
    Auteur : Jérémy Ruffet (<a href="mailto:sat@airnux.fr">sat@airnux.fr</a>)
    <br/><br/>
	Cet application web est open source et accessible sur github (<a href="https://github.com/sativouf/qcmffvl">https://github.com/sativouf/qcmffvl</a>)</a>
    <br/><br/>
    Elle a été conçue pour être multi-support (mobile / tablette / PC / MAC...).
    <br/><br/>
    La totalité du questionnaire n'est chargé qu'une seule fois en mode révision.
    <br/>
    Cela veut dire qu'il vous suffit de charger la page sur votre mobile avant de partir, et vous pourrez vous faire d'innombrables QCMs FFVL, sans avoir jamais besoin de réseau !
	<br/><br/>
    Cette "appli web" a été testée comme fonctionnant correctement avec Chrome et Firefox.
    <br/>
    Merci d'utiliser un de ces 2 navigateurs si vous expérimentez des soucis.
    <br/><br/>
    Pour l'instant, seul le navigateur Chrome est compatible avec le mode "Examen Papier", cela sera probablement amené à évoluer dans le futur.
    <br/><br/>
    N'hésitez pas à m'envoyer des rapports de bugs ou des suggestions par mail.
    <br/>
    Et bien entendu, les bières de remerciement sont les bienvenues ! :)
    </div>
</div>

<!-- <div class="panel panel-default">
    <div class="panel-heading">Outils utilisés</div>
    <div class="panel-body">
    Web :
    <br/>
    <a href="https://angularjs.org/">AngularJS</a>
    <br/>
    <a href="http://jquery.com/">JQuery</a>
    <br/>
    <a href="http://getbootstrap.com/">Twitter Bootstrap</a>
    <br/>
    </div>

</div> -->
