<div class="panel panel-default">
    <div class="panel-heading">A propos : QCM FFVL version 1.3 (dev)</div>
    <div class="panel-body">
    Auteur : Jérémy Ruffet (<a href="mailto:sativouf@gmail.com">sativouf@gmail.com</a>)
    <br/><br/>
	Le 12 mars 2015, mon projet a été intégré au site de la fédé, avec sa petite URL à lui, oui Môsieur !
	<br/>
	Vous trouverez dorénavant la dernière version stable de cette "appli web" sur <a href="http://qcm.ffvl.fr/">http://qcm.ffvl.fr/</a>
	<br/>
	La version de dev reste accessible sur github (<a href="https://github.com/sativouf/qcmffvl">https://github.com/sativouf/qcmffvl</a>) ou sur son ancienne adresse : <a href="http://qcmffvl.sativouf.net/">http://qcmffvl.sativouf.net/</a>
    <br/><br/>
    Les questions et les réponses sont extraites - non modifiées - du questionnaire FFVL utilisé pour les examens, accessible sur <a href="http://parapente.ffvl.fr/node/1101">http://parapente.ffvl.fr/node/1101</a>
    <br/><br/>
    Ce QCM a été conçu "mobile friendly" et tout est utilisable "hors ligne", la totalité du questionnaire n'étant réellement chargé qu'une seule fois.
    <br/>
    Ce qui veut dire qu'il vous suffit de charger la page sur votre mobile avant de partir, et vous pourrez vous faire d'innombrables QCMs FFVL, sans avoir jamais besoin de réseau !
    <br/><br/>
	Le numéro de version (en haut à gauche) indique l'année de version du questionnaire (cf site FFVL), et la révision associée.
    <br/>
    Donc pour le coup, plus c'est gros, mieux c'est.
	<br/><br/>
    Cette "appli web" a été testée comme fonctionnant correctement avec Chrome et Firefox. Merci d'utiliser un de ces 2 navigateurs si vous expérimentez des soucis.
    <br/><br/>
    N'hésitez pas à m'envoyer des rapports de bugs ou des suggestions par mail.
    <br/>
    Et bien entendu, les bières de remerciement sont les bienvenues :)
    </div>
</div>

<!-- <div class="panel panel-default">
    <div class="panel-heading">Outils utilisés</div>
    <div class="panel-body">
    Web :
    <br/>
    <a href="https://angularjs.org/">AngularJS</a>
    <br/>
    <a href="http://jquery.com/">JQuery</a>
    <br/>
    <a href="http://getbootstrap.com/">Twitter Bootstrap</a>
    <br/>
    </div>

</div> -->
