<div class="loader" ng-show="loading || forceloading" >Chargement...</div>
<div ng-hide="loading || forceloading">
    <div ng-hide="main.examPapier && !browserChrome()">
        <div class="qcm-title" ng-show="main.examPapier">
            <div class="row">
            <button print-btn class="btn btn-default btn-print center-block">Imprimer</button>
            </div>

                <span>QCM FFVL {{main.category.checked}} {{main.level.checked}} (Exemplaire {{main.targetExam}})</span>
                <span class="pull-right">Code: {{main.QCMIDCRC}}</span>
            </div>
        </div>
        <div class="qcm-body">
            <div ng-repeat="q in qcm | limitTo:main.displayLimit | filter:main.search | limitTo:main.limit" remove-loader-when-ready>

                <div class="panel panel-default grid-item" ng-class="{'panel-success':successQuestion(q), 'panel-danger':failedQuestion(q), 'panel-warning': warningQuestion(q)}" ng-click="collapseNav()">
                    <div class="panel-heading ">
                        <div class="row question ">
                            <span class="col-lg-11 col-xs-11">{{($index+1)}}. {{q.question}}</span>
                            <span class="col-lg-1 col-xs-1 pull-right points" ng-show="main.checkAnswers && !main.examMode"> {{getPoints(q)}}</span>
                        </div>
                    </div>
                    <div class="panel-body answers">
                        <div ng-repeat="answer in q.ans">
                            <div class="checkbox">
                                <!-- TODO : replace checkbox with points -->
                                <input type="checkbox" ng-disabled="main.examPapierCandidat ||
                                (main.checkAnswers && !main.examPapierExaminateur) ||
                                (main.examPapierExaminateur && !answer.checked) ||
                                (main.examPapierExaminateur && answer.pts==0)" ng-model="answer.checked">
                                <div class="row answer" ng-class="{'good-answer':goodAnswer(answer), 'bad-answer':badAnswer(answer), 'warning-answer':warningAnswer(answer), 'good-not-checked-answer':goodNotCheckedAnswer(answer)}">
                                    <span class="col-lg-11 col-xs-10 answer-text" ng-click="toggleCheck(answer)" ng-bind="answer.text"></span>
                                    <span class="col-lg-1 col-xs-2 pull-right points" ng-show="main.checkAnswers" ng-bind="answer.pts"></span>
                                </div>
                            </input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="main.examPapier && !browserChrome()">
    <div class="qcm-title">Merci d'utiliser le navigateur <a href="https://support.google.com/chrome/answer/95346?hl=fr">Chrome</a> pour l'impression de l'examen papier.</div>
</div>
