  <!DOCTYPE html>
  <!--[if lt IE 7]>      <html lang="en" ng-app="qcmffvl" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html lang="en" ng-app="qcmffvl" class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html lang="en" ng-app="qcmffvl" class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html lang="en" ng-app="qcmffvl" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta author="Jérémy Ruffet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>QCM FFVL</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>

    <link rel="stylesheet" href="css/html5-boilerplate/normalize.css">
    <link rel="stylesheet" href="css/html5-boilerplate/main.css">
    <link rel="stylesheet" href="css/qcmffvl.css"/>

    <script src="js/lib/modernizr-2.6.2.min.js"></script>

  </head>
  <body>
    <!--[if lt IE 9]>
    <p class="browsehappy">Vous utilisez un navigateur trop vieux pour afficher correctement cette appli web. Merci de <a href="http://browsehappy.com/">mettre à jour votre navigateur</a></p>
    <![endif]-->
    <!--[if gt IE 8]><!-->

    <script src="js/lib/MersenneTwister.js"></script>
    <script src="js/lib/crc.min.js"></script>

    <script src="js/lib/jquery-2.1.1.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="js/lib/angular-sanitize.min.js"></script>
    <script src="js/lib/angular-translate.min.js"></script>
    <script src="js/lib/ui-bootstrap-tpls.min.js"></script>

    <script src="js/lib/angular-clipboard.js"></script>
    <script src="js/lib/dialogs.js"></script>
    <script src="js/lib/ng-device-detector.min.js"></script>
    <script src="js/lib/re-tree.min.js"></script>
    <script src="js/lib/ngStorage.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>

    <div ng-controller="MainCtrl">

      <nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-cloak>
        <div class="container-fluid">
          <div class="navbar-header">
            <div class="navbar-brand" ng-click="gotoMainURL()">
              QCM FFVL
            </div>
            <span class="hide-xxs hide-lg" ng-hide="main.exam.mode">
              <span ng-hide="hideNavbarButtons">
                <button ng-hide="main.checkAnswers" ng-click="main.checkAnswers = true" class="btn btn-default navbar-left navbar-btn navbar-collapsed-btn">Corriger</button>
                <button ng-show="main.checkAnswers" ng-class="scoreClass(main.score)" class="btn btn-default navbar-left navbar-btn navbar-collapsed-btn btn-score">{{main.score.percentage}}%</button>
                <button ng-click="reload()" class="btn btn-default navbar-btn navbar-collapsed-btn btn-reload"><span class="glyphicon glyphicon-refresh"></span></button>
              </span>
            </span>
            <span class="hide-xxs hide-lg">
              <span ng-hide="!hideNavbarButtons || loading">
                <button ng-click="gotoMainURL()" class="btn btn-default navbar-btn navbar-collapsed-btn btn-retour-apropos">Retour QCM</button>
              </span>
            </span>

            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" ng-hide="hideNavbarButtons">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
            <ul class="nav navbar-nav" ng-show="hideNavbarButtons">
              <li>
                <button ng-click="gotoMainURL()" class="btn btn-default navbar-left navbar-btn">Retour QCM</button>
              </li>
            </ul>

            <ul class="nav navbar-nav" ng-hide="hideNavbarButtons">
              <li class="dropdown" is-open="isOpen.sport">
                <a class="dropdown-toggle" data-toggle="dropdown">{{$storage.conf.sport}} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" ng-click="isOpen.sport = false">
                  <li ng-repeat="sport in main.sport.options">
                    <a ng-click="$storage.conf.sport = sport">{{sport}}</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown" is-open="isOpen.level">
                <a class="dropdown-toggle" data-toggle="dropdown">
                  <span ng-show="optionsTooLongForWidth()">{{$storage.conf.level|formatQCMTitle}}</span>
                  <span ng-hide="optionsTooLongForWidth()">{{$storage.conf.level}}</span>
                  <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" ng-click="isOpen.level = false">
                  <li ng-repeat="level in main.level.options">
                    <a ng-click="$storage.conf.level = level">{{level}}</a>
                  </li>
                </ul>
              </li>
              <li>
                <li class="dropdown" is-open="isOpen.nbquestions">
                  <a class="dropdown-toggle" data-toggle="dropdown">{{$storage.conf.nbquestions}} questions <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu" ng-click="isOpen.nbquestions = false">
                    <li ng-repeat="nbquestions in main.nbquestions.options">
                      <a ng-click="$storage.conf.nbquestions = nbquestions">{{nbquestions}} questions</a>
                    </li>
                  </ul>
                </li>
              </li>
              <li>
                <li class="dropdown" is-open="isOpen.category">
                  <a class="dropdown-toggle" data-toggle="dropdown">{{$storage.conf.category}} <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu" ng-click="isOpen.category = false">
                    <li ng-repeat="category in main.category.options">
                      <a ng-click="$storage.conf.category = category">{{category}}</a>
                    </li>
                  </ul>
                </li>
              </li>
              <li>
                <li class="dropdown" is-open="isOpen.typeExam" ng-click="warnTypeExamChange()">
                  <a class="dropdown-toggle" data-toggle="dropdown">{{main.typeExam.checked}} <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu" ng-click="isOpen.typeExam = false">
                    <li ng-repeat="typeExam in main.typeExam.options">
                      <a ng-click="main.typeExam.checked = typeExam">{{typeExam}}</a>
                    </li>
                  </ul>
                </li>
              <li>
                <span ng-hide="main.exam.mode">
                  <button ng-hide="main.checkAnswers" ng-click="main.checkAnswers = true" class="btn btn-default navbar-left navbar-btn btn-corriger">Corriger</button>
                  <button ng-show="main.checkAnswers" ng-click="reload()" ng-class="scoreClass(main.score)" class="btn btn-default navbar-left navbar-btn btn-score">Score : {{main.score.user}} / {{main.score.total}} ({{main.score.percentage}}%)</button>
                </span>
                <button ng-click="reload()" class="btn btn-default navbar-btn btn-reload"><span class="glyphicon glyphicon-refresh"></span></button>
                <button ng-show="isDevURL()" ng-click="fillQCMAnswers(); main.checkAnswers=false" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-eye-open"></span></button>
              </li>
              <li>
                <button ng-click="dialogQCMID()" class="btn btn-default navbar-btn btn-shareqcm"><span class="glyphicon glyphicon-share"></span> Partager</button>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-hide="hideNavbarButtons">
            <!-- <span class="glyphicon glyphicon-info-sign"></span> -->
              <!-- <li><a href="#about" class="text-center">À propos</a></li> -->
              <li>
              <div class="text-center">
              <a href="#about">
              <button class="btn btn-default navbar-btn btn-fifty-shades btn-informations"><span class="glyphicon glyphicon-info-sign"></span> Informations</button>
              </a>
              </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div ng-view ng-click="collapseNav()" ng-class="{'dim':!navCollapsed}" ng-show="showQCM">
      </div>
    </div>
  </body>

<!-- Next are Angular templateCaches definitions, so that no webserver is required to use this "web app", and everything runs smoothly once the "app" has been loaded -->

<!-- ###################################################################################################### -->
<!-- ############################# QCMID Dialog (Chargement / Partage du QCM) ############################# -->
<!-- ###################################################################################################### -->

<script type="text/ng-template" id="qcmid.html">
  <div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-share"></span> Partage du QCM</h4>
  </div>
  <div class="modal-body">
    <ng-form name="nameDialog" novalidate role="form">
      <span class="help-block">Le numéro d'identification "ID" identifie de manière unique un questionnaire (pratique, questions, nombre, niveau...)</span>
      <span class="help-block hide-xs">Vous pouvez le modifier avec un ID valide pour charger le questionnaire correspondant.</span>
      <div class="form-group qcmID" ng-class="{ 'has-error': !verifyQCMIDUser() }">
        <label class="control-label" for="course">QCM ID:</label>
        <input type="text" name="ID" class="form-control" ng-model="main.formattedQCMIDUser" ng-blur="QCMIDBlur()" maxlength="23" select-on-focus>
        <button type="button" class="btn btn-info btn-load-ID" ng-click="loadQCMID()" ng-disabled="!verifyQCMIDUser() || main.QCMID == main.QCMIDUser">Charger le questionnaire</button>
      </div>
    </ng-form>
    <hr/>
    <span class="help-block">Pour accéder directement au questionnaire courant, vous pouvez utiliser/partager cette URL :</span>
    <span class="help-block url">{{main.QCMIDURL}}</span>
    <button clipboard class="btn btn-info" supported="true" text="main.QCMIDURL">Copier l'adresse</button>
  </div>
  <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="ok()">Fermer</button>
  </div>
</script>

<!-- ###################################################################################################### -->
<!-- ################################### FFVL communication dialog ######################################## -->
<!-- ###################################################################################################### -->

<script type="text/ng-template" id="ffvldialog.html">
  <div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-share"></span> Au sujet de la question {{q.code}}</h4>
  </div>
  <div class="modal-body">
    <span class="help-block"><b>Un souci avec la question ?</b><span class="glyphicon glyphicon-arrow-right help-arrow"></span><a><span class="glyphicon glyphicon-envelope help-mailto" ng-click="questionIssue()"></span></a></span>
    <span class="help-block">Vous souhaitez faire remonter un problème avec la question ou ses réponses (incohérence, mauvaise formulation, fautes de français...).</span>

    <hr/>
    <span class="help-block"><b>Besoin d'explications ?</b><span class="glyphicon glyphicon-arrow-right help-arrow"></span><a><span class="glyphicon glyphicon-envelope help-mailto" ng-click="questionAskHelp()"></span></a></span>
    <span class="help-block">"Les moniteurs vous répondent"</span>
    <span class="help-block">Rentrez en contact avec nos moniteurs FFVL</span>
  </div>
  <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="ok()">Fermer</button>
  </div>
</script>

<!-- ###################################################################################################### -->
<!-- ##########################################  QCM HTML  ################################################ -->
<!-- ###################################################################################################### -->

<script type="text/ng-template" id="qcm.html">
      <div class="loader" ng-show="loading">Chargement...</div>
      <div class="loader" ng-show="!loading && filtered_result.length === 0">Aucune question disponible avec ces filtres</div>
      <div ng-hide="loading || (main.exam.papier && !browserChrome() && !browserCheckOverride) || (main.exam.papier && isAndroidApp())">
          <div >
              <div class="qcm-title" ng-show="main.exam.papier">
                      <button class="btn btn-default center-block btn-print" ng-click="printQCM()">Imprimer</button>
                      <span>QCM FFVL {{$storage.conf.sport}} {{$storage.conf.level}} (Exemplaire <span ng-show="main.exam.papierCandidat">Candidat</span><span ng-show="main.exam.papierExaminateur">Examinateur</span>)</span>
                      <span class="pull-right">Code: {{main.QCMIDCRC}}</span>
                  </div>
              <div class="qcm-title row" ng-show="main.exam.papier && categorySelected()"<>
                <span class="qcm-title-category col-lg-12 col-xs-12">*** Questions restreintes à la catégorie : {{$storage.conf.category}} ***</span>
              </div>
              <div class="qcm-body">
                  <div ng-show="main.exam.papier" ng-repeat="header in headerExamPapier">
                    <div class="panel panel-default grid-item panel-header-exam" ng-class="{'examinateur':main.exam.papierExaminateur}">
                      <div class="panel-heading">
                        <div class="row header-exam-title">
                          <span class="col-lg-11 col-xs-11">{{header.title}}</span>
                        </div>
                      </div>
                      <div class="panel-body header-exam">
                        <div ng-repeat="item in header.items">
                            <div class="checkbox row header-exam-item" >
                              <span class="col-lg-11 col-xs-11">{{item}} :</span>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div ng-repeat="q in filtered_result">
                      <div class="panel panel-default grid-item" ng-class="{'panel-success':successQuestion(q), 'panel-danger':failedQuestion(q), 'panel-warning': warningQuestion(q), 'panel-info':isHelpQuestion(q)}">
                          <div class="panel-heading" ng-click="helpQuestionToggle(q)" ng-show="isHelpQuestion(q) && !main.exam.mode">
                              <div class="row question ">
                                  <span class="col-lg-12 col-xs-12 help-header"><span class="help-msg">Contacter la FFVL au sujet de cette question</span><span class="glyphicon glyphicon-arrow-right help-arrow"></span><a><span class="glyphicon glyphicon-envelope help-mailto" ng-click="ffvldialog(q, $index+1)"></a></span>
                              </div>
                          </div>
                          <div class="panel-heading" ng-click="helpQuestionToggle(q)">
                              <div class="row question ">
                                  <span class="col-lg-11 col-xs-11">{{($index+1)}}. {{q.question}}</span>
                                  <span class="col-lg-1 col-xs-1 pull-right points" ng-show="main.checkAnswers && !main.exam.mode"> {{getPoints(q)}}</span>
                              </div>
                          </div>
                          <div class="panel-body answers" ng-click="resetHelpQuestion()">
                              <div ng-repeat="answer in q.ans">
                                  <div class="checkbox" >
                                      <input type="checkbox" ng-disabled="main.exam.papierCandidat ||
                                      (main.checkAnswers && !main.exam.papierExaminateur) ||
                                      (main.exam.papierExaminateur && !answer.checked) ||
                                      (main.exam.papierExaminateur && answer.pts==0) ||
                                      isHelpQuestion(q) ||
                                      !navCollapsed"
                                      ng-model="answer.checked"
                                      ng-hide="adAnswerNotChecked(answer)">
                                      <div
                                      class="row answer"
                                      ng-class="{
                                      'good-answer':goodAnswer(answer),
                                      'bad-answer':badAnswer(answer),
                                      'good-answer-not-checked':goodAnswerNotChecked(answer),
                                      'bad-answer-not-checked':badAnswerNotChecked(answer),
                                      'help-answer':isHelpQuestion(q),
                                      'chrome':browserChrome(),
                                      'checked-answer':answer.checked
                                      }">
                                          <span class="col-lg-11 col-xs-11 answer-text" ng-click="toggleCheck(q, answer)" ng-bind="answer.text"></span>
                                          <span class="col-lg-1 col-xs-1 pull-right points" ng-show="main.checkAnswers || main.exam.papierExaminateur" ng-bind="answer.pts"></span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div ng-show="main.exam.papier && !browserChrome() && !browserCheckOverride && !isAndroidApp()">
            <div class="qcm-title">Merci d'utiliser de préférence le navigateur <a href="https://support.google.com/chrome/answer/95346?hl=fr">Chrome</a> pour l'impression de l'examen papier.</div>
            <div class="qcm-subtitle">Si vous souhaitez forcer l'impression de l'examen papier avec votre navigateur, appuyez <a ng-click="browserCheckOverride=true">ici</a>.</div>
      </div>
      <div ng-show="main.exam.papier && isAndroidApp()">
           <div class="qcm-title">Le mode "{{main.typeExam.checked}}" n'est pas disponible depuis l'application Android. <br/><br/>Merci de suivre <a href="{{main.QCMIDURL}}/{{main.typeExamNum}}"><b>ce lien</b></a>.</div>
      </div>
</script>

<!-- ###################################################################################################### -->
<!-- #######################################  Privacy policy  ############################################# -->
<!-- ###################################################################################################### -->

<script type="text/ng-template" id="privacy.html">
  <div class="about">
    <div class="panel panel-default">
      <div class="panel-heading">Politique de confidentialité</div>
      <div class="panel-body">
        Ni la web app, ni l'application android ne collectent de données.
        <br/>
        Même pas un petit cookie pour la route.
      </div>
    </div>
  </div>
</script>


<!-- ###################################################################################################### -->
<!-- ###########################################  ABOUT  ################################################## -->
<!-- ###################################################################################################### -->

<script type="text/ng-template" id="about.html">
      <div class="about">
          <div class="panel panel-default">
              <div class="panel-heading">Version {{version}} &nbsp; - &nbsp; Questionnaire FFVL {{qcmVersion}}</div>
              <div class="panel-body">
                  Auteur : Jérémy Ruffet (<a href="mailto:sat@airnux.fr">sat@airnux.fr</a>)
                  <br/><br/>
                  Cette application web est développée bénévolement, sur mon temps libre.
                  <br/>
                  Elle est sous licence libre (MIT) et accessible sur github (<a href="https://github.com/jruffet/qcmffvl">https://github.com/jruffet/qcmffvl</a>).
                  <br/><br/>
                  Le contenu du questionnaire est rédigé par la commission formation de la FFVL.
                  <br/>
                  Un questionnaire est considéré comme réussi si le score est d'au moins 75%.
                  <br/><br/>
                  Suivant les recommandations de la FFVL, chaque série de 10 questions est répartie comme suit :
                  <ul>
                    <li>Météo : 20%</li>
                    <li>Pilotage : 20%</li>
                    <li>Mécavol : 20%</li>
                    <li>Réglementation : 10%</li>
                    <li>Matériel : 10%</li>
                    <li>Facteurs humains : 10%</li>
                    <li>Milieu naturel : 10%</li>
                  </ul>
                  <b>Pour tout problème avec une question ou ses réponses : </b> merci de cliquer sur la question (en mode révision), puis de cliquer sur l'enveloppe.
                  <br/>
                  Pour une demande d'ajout, reprenez le même mode opératoire en choisissant n'importe quelle question.
                  <br/><br/>
                  N'hésitez pas à m'envoyer des rapports de bugs, problèmes d'affichage, des suggestions ou tout simplement un petit mail sympa !
                  <br/>
                  <div class="about-category row">
                      <span class="about-category-title col-xs-12 col-md-12 col-lg-12"><hr/>Version Web</span>
                      <div class="about-category-part col-xs-12 col-md-12 col-lg-12">
                          La version web a été conçue pour être multi-support (mobile / tablette / desktop) et multi-OS (Linux / Windows / Mac...).
                          <br/><br/>
                          Elle a été testée comme fonctionnant correctement avec Chrome et Firefox.
                          <br/>
                          Merci d'utiliser un de ces 2 navigateurs si vous expérimentez des soucis.
                      </div>
                  </div>
                  <div class="about-category row">
                    <span class="about-category-title col-xs-12 col-md-12 col-lg-12"><hr/>Version Android</span>
                    <div class="about-category-part col-xs-12 col-md-12 col-lg-12">
                        La version Android n'est plus disponible.
                        <br/>
                        Pour vous assurer de toujours utiliser le dernier questionnaire à jour, allez sur <a href="https://qcm.ffvl.fr/">https://qcm.ffvl.fr/</a>
                    </div>
                </div>
              </div>
          </div>

          <div class="panel panel-default">
              <div class="panel-heading">CHANGELOG</div>
              <div class="panel-body">
                  <div class="changelog-version row">
                      <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 3.7</span>
                      <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                        <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Améliorations / Changements</div>
                        <ul class="changelog-content">
                            <li>MAJ du questionnaire FFVL vers 3.0 (ajout des catégories "Facteurs humain" et "Milieu naturel").</li>
                            <li>Changement de la répartition des questions en conséquence.</li>
                            <li>Amélioration de la vitesse de chargement du questionnaire.</li>
                            <li>Améliorations visuelles en mode smartphone / XS.</li>
                          </ul>
                      </div>
                  </div>
                  <div class="changelog-version row">
                      <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 3.6</span>
                      <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                        <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Améliorations / Changements</div>
                        <ul class="changelog-content">
                            <li>MAJ du questionnaire FFVL vers 2.0 (ajout questions treuil).</li>
                            <li>Changement du calcul du QCM ID pour inclure les questions treuil.</li>
                            <li>Ajout d'un check de version de QCM au chargement d'un QCM ID.</li>
                        </ul>
                        <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Bugfixes</div>
                        <ul class="changelog-content">
                            <li>Les questionnaires inachevés sont maintenant correctement rechargés.</li>
                            <li>Le choix "Toutes les questions" est maintenant conservé, au même titre que le reste.</li>
                        </ul>
                      </div>
                  </div>



                  <div class="changelog-version row">
                      <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 3.5.2</span>
                      <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                        <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Améliorations / Changements</div>
                        <ul class="changelog-content">
                            <li>MAJ du questionnaire FFVL vers 1.6</li>
                            <li>Possibilité de contacter la FFVL via l'interface pour des explications sur une question.</li>
                        </ul>
                      </div>
                  </div>
                  <div class="changelog-version row">
                      <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 3.5.1</span>
                      <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                        <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Améliorations / Changements</div>
                        <ul class="changelog-content">
                            <li>MAJ du questionnaire FFVL vers 1.5</li>
                        </ul>
                      </div>
                  </div>
                  <div class="changelog-version row">
                      <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 3.5</span>
                      <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                        <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Améliorations / Changements</div>
                        <ul class="changelog-content">
                            <li>Quelques modifications de la partie Android pour coller aux exigences Google.</li>
                            <li>Renommage d'une partie de la CSS pour éviter que des boutons disparaissent si adblock plus est actif.</li>
                            <li>MAJ du questionnaire FFVL vers 1.4</li>
                        </ul>
                      </div>
                  </div>
                  <div class="changelog-version row">
                      <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 3.4.1</span>
                      <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                        <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Améliorations / Changements</div>
                        <ul class="changelog-content">
                            <li>Ajout d'un dialogue de confirmation avant d'ouvrir le mail de remontée de problème avec une question.</li>
                        </ul>
                        <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Bugfixes</div>
                        <ul class="changelog-content">
                            <li>Encodage du texte des emails pour éviter des problèmes d'affichage selon le contenu.</li>
                        </ul>
                      </div>
                  </div>
                  <div class="changelog-version row">
                      <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 3.4</span>
                      <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                        <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Améliorations / Changements</div>
                        <ul class="changelog-content">
                            <li>Nouvel affichage des réponses, plus intuitif.</li>
                            <li>Ajout des entêtes en mode impression.</li>
                            <li>MAJ du questionnaire FFVL vers 1.3</li>
                        </ul>
                      </div>
                  </div>                  <div class="changelog-version row">
                      <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 3.3</span>
                      <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                        <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Améliorations / Changements</div>
                        <ul class="changelog-content">
                            <li>À la correction, les points en gras correspondent aux réponses cochées.</li>
                            <li>MAJ du questionnaire FFVL vers 1.2</li>
                        </ul>
                      </div>
                  </div>
                  <div class="changelog-version row">
                      <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 3.2.1</span>
                      <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                        <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Améliorations / Changements</div>
                        <ul class="changelog-content">
                            <li>MAJ du questionnaire FFVL vers 1.1</li>
                        </ul>
                      </div>
                  </div>
                  <div class="changelog-version row">
                      <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 3.2</span>
                      <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                        <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Améliorations / Changements</div>
                        <ul class="changelog-content">
                            <li>Ajout du choix de catégorie.</li>
                            <li>Le QCM ID intègre maintenant le choix de catégorie, et n'est pas compatible avec les versions antérieures à 3.2 (la rétro-compatibilité est par contre assurée, le chargement d'un QCM ID de version >= 3.0 et < 3.2 fonctionnera)</li>
                        </ul>
                      </div>
                  </div>
                  <div class="changelog-version row">
                      <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 3.1.2</span>
                      <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                        <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Bugfixes</div>
                        <ul class="changelog-content">
                            <li>Android : La configuration et le questionnaire en cours ne seront plus "oubliés" lors d'une mise à jour de l'application.</li>
                        </ul>
                      </div>
                  </div>
                  <div class="changelog-version row">
                      <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 3.1.1</span>
                      <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                        <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Bugfixes</div>
                        <ul class="changelog-content">
                            <li>Correction d'une régression impactant le support de vieux navigateurs.</li>
                        </ul>
                      </div>
                  </div>
                  <div class="changelog-version row">
                      <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 3.1</span>
                      <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                          <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Améliorations / Changements</div>
                          <ul class="changelog-content">
                              <li>Création de l'application Android, pour une meilleure expérience hors ligne.</li>
                              <li>Enregistrement local de la dernière configuration (catégorie, niveau, nombre de questions), pour revenir sur celle-ci à chaque nouveau lancement.</li>
                              <li>Enregistrement local du dernier QCM commencé (non corrigé), avec popup permettant de le charger au démarrage.</li>
                              <li>Amélioration de la préparation du mail quand l'utilisateur clique sur l'enveloppe ("signaler un problème").</li>
                              <li>Changement de licence pour la MIT, très permissive toujours.</li>
                              <li>Avertissement de la perte des réponses lors du passage en mode examen.</li>
                              <li>Quelques petites améliorations d'affichage.</li>
                          </ul>
                      </div>
                  </div>
                  <div class="changelog-version row">
                      <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 3.0</span>
                      <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                          <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Améliorations / Changements</div>
                          <ul class="changelog-content">
                              <li>Ajout du questionnaire Delta.</li>
                              <li>Possibilité de signaler un problème avec une question en cliquant sur l'encart de la question.</li>
                              <li>Nouvelle répartition des questions (recommendations FFVL) suivant un pourcentage par catégorie, par série de 10 questions (météo 30%, réglementation 20%, pilotage 20%, mécavol 20%, matériel 10%).</li>
                              <li>Ordre aléatoire des réponses pour chaque question. L'ordre de tout le questionnaire (questions + réponses) reste cependant le même pour un QCM ID donné.</li>
                              <li>Le QCM ID (bouton partage) est maintenant lié à la version de QCM, les anciens QCM IDs ne sont plus compatibles avec les versions 3.X (ou versions supérieures), qui intègrent cette fonctionnalité.</li>
                              <li>Retour à un navbar collapse sur 1200px.</li>
                          </ul>
                      </div>
                      <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                          <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Bugfixes</div>
                          <ul class="changelog-content">
                              <li>Correction d'une mauvaise génération de l'URL de partage où l'ID pouvait être répété 2 fois.</li>
                              <li>Modification du CSS impression pour éviter un effacement aléatoire de la barre entre la question et les réponses.</li>
                          </ul>
                      </div>
                  </div>
                  <div class="changelog-version row">
                      <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 2.2</span>
                      <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                          <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Améliorations / Changements</div>
                          <ul class="changelog-content">
                              <li>Simplification du code couleur : si une bonne réponse n'est pas cochée, alors l'afficher en gras (au lieu de orange/rouge).</li>
                              <li>Ajout d'une modale pour partager le QCM ID, et permettre le chargement d'un questionnaire donné via une URL.</li>
                          </ul>
                      </div>
                  </div>
                  <div class="changelog-version row">
                      <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 2.1</span>
                      <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                          <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Améliorations / Changements</div>
                          <ul class="changelog-content">
                              <li>Suppression des boutons corriger / résultat en mode examen.</li>
                              <li>Retour au début de la page quand le mode de questionnaire est modifié.</li>
                          </ul>
                      </div>
                  </div>
                  <div class="changelog-version row">
                      <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 2.0</span>
                      <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                          <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Améliorations / Changements</div>
                          <ul class="changelog-content">
                              <li>Nouveau code couleur de correction plus intuitif (vert, orange, rouge, en fonction des réponses utilisateur)</li>
                              <li>Ajout du QCM ID, qui identifie de manière unique un questionnaire, une catégorie, un niveau et un nombre de questions. Intègre un checksum pour éviter les erreurs dans les partages d'ID.</li>
                              <li>Ajout du mode examen papier (candidat / examinateur), avec CSS pour l'impression. Les questionnaires sont identifiables par leur "code" CRC.</li>
                              <li>Affichage des boutons corriger et recharger quand la navbar est fermée pour les displays mobiles/tablettes.</li>
                              <li>Page "informations" : Ajout d'un bouton "Retour QCM" plus intuitif que de cliquer sur "QCM FFVL".</li>
                              <li>Réduction de l'opacité du contenu quand la navbar est ouverte.</li>
                          </ul>
                      </div>
                      <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                          <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Bugfixes</div>
                          <ul class="changelog-content">
                              <li>Affichage sur la même ligne des réponses et des points (après correction) sur les mobiles.</li>
                              <li>Collapse de la navbar à 1200px pour éviter de manger la 1ere question sur toutes les tailles (retravail de la navbar pour rentrer dans 1200 px).</li>
                              <li>Checkboxs complètement désactivées quand la navbar est ouverte.</li>
                          </ul>
                      </div>
                  </div>
                  <div class="changelog-version row">
                      <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 1.2</span>
                      <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                          <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Bugfixes</div>
                          <ul class="changelog-content">
                              <li>Changer les options en étant dans la page "informations" redirige vers la page QCM au lieu d'afficher "Chargement..." au milieu de la page.</li>
                          </ul>
                      </div>
                  </div>
                  <div class="changelog-version row">
                      <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 1.1</span>
                      <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                          <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Améliorations / Changements</div>
                          <ul class="changelog-content">
                              <li>En mode smartphone/tablette, quand le formulaire est cliqué, la barre de menu se réduit (et rien ne se coche/décoche)</li>
                          </ul>
                      </div>
                  </div>
                  <div class="changelog-version row">
                      <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version 1.0</span>
                      <div class="changelog-part col-xs-12 col-md-12 col-lg-12">
                          <span class="col-xs-12 col-md-12 col-lg-12">Première version !</span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">Remerciements</div>
              <div class="panel-body">
                  <div class="row">
                    <div class="thanks-block col-xs-12 col-md-12 col-lg-12">
                        <div class="thanks-title col-xs-12 col-md-12 col-lg-12">Laurent (commission formation FFVL)</div>
                        <ul class="thanks-content">
                            <li>Pour sa bienveillance et son travail pour améliorer le questionnaire
                        </ul>
                    </div>
                  </div>
                  <div class="row">
                      <div class="thanks-block col-xs-12 col-md-12 col-lg-12">
                          <div class="thanks-title col-xs-12 col-md-12 col-lg-12">Xavier (commission Tracté FFVL)</div>
                          <ul class="thanks-content">
                              <li>Pour son travail sur la version 3.7 et la (grosse) MAJ du questionnaire en 3.0
                              <li>Ajout de la fonctionnalité et des questions treuil (version 3.6)
                          </ul>
                      </div>
                  </div>
                  <div class="row">
                      <div class="thanks-block col-xs-12 col-md-12 col-lg-12">
                          <div class="thanks-title col-xs-12 col-md-12 col-lg-12">Guillaume @gcerquant</div>
                          <ul class="thanks-content">
                              <li>Suggestion de l'affichage des points en gras uniquement pour les réponses cochées (version 3.3)</li>
                          </ul>
                      </div>
                  </div>
                  <div class="row">
                      <div class="thanks-block col-xs-12 col-md-12 col-lg-12">
                          <div class="thanks-title col-xs-12 col-md-12 col-lg-12">Augustin M</div>
                          <ul class="thanks-content">
                              <li>Suggestion du nouveau code couleur (version 2.0)</li>
                              <li>Suggestion du bouton "Corriger" dans la navbar sur mobile (version 2.0)</li>
                          </ul>
                      </div>
                  </div>
                  <div class="row">
                      <div class="thanks-block col-xs-12 col-md-12 col-lg-12">
                          <div class="thanks-title col-xs-12 col-md-12 col-lg-12">Et à tous ceux qui remontent des bugs, des erreurs dans le questionnaire...</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</script>


<!--<![endif]-->
</html>
