<!DOCTYPE html>
<html lang="fr" ng-app="qcmffvl" class="no-js">

<head>
  <meta charset="utf-8">
  <meta author="Jérémy Ruffet">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>QCM FFVL</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#C8C8C8">
  <link rel="manifest" href="manifest.json?v=3.9.0">
  <link rel="icon" type="image/png" href="assets/icons/icon-512.png?v=3.9.0" />
  <link rel="stylesheet" href="css/bootstrap.min.css?v=3.9.0" />
  <link rel="stylesheet" href="css/html5-boilerplate/normalize.css?v=3.9.0">
  <link rel="stylesheet" href="css/html5-boilerplate/main.css?v=3.9.0">
  <link rel="stylesheet" href="css/qcmffvl.css?v=3.9.0" />
</head>

<body>
  <script src="js/lib/MersenneTwister.js?v=3.9.0"></script>
  <script src="js/lib/crc.min.js?v=3.9.0"></script>

  <script src="js/lib/jquery-2.1.1.min.js?v=3.9.0"></script>
  <script src="js/lib/angular.min.js?v=3.9.0"></script>
  <script src="js/lib/angular-route.min.js?v=3.9.0"></script>
  <script src="js/lib/angular-sanitize.min.js?v=3.9.0"></script>
  <script src="js/lib/angular-translate.min.js?v=3.9.0"></script>
  <script src="js/lib/ui-bootstrap-tpls.min.js?v=3.9.0"></script>

  <script src="js/lib/angular-clipboard.js?v=3.9.0"></script>
  <script src="js/lib/dialogs.js?v=3.9.0"></script>
  <script src="js/lib/ng-device-detector.min.js?v=3.9.0"></script>
  <script src="js/lib/re-tree.min.js?v=3.9.0"></script>
  <script src="js/lib/ngStorage.min.js?v=3.9.0"></script>

  <script src="js/app.js?v=3.9.0"></script>
  <script src="js/services.js?v=3.9.0"></script>
  <script src="js/controllers.js?v=3.9.0"></script>
  <script src="js/filters.js?v=3.9.0"></script>
  <script src="js/directives.js?v=3.9.0"></script>

  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('sw.js').then(function () {
        console.log('Service worker registered');
      }).catch(function (err) {
        console.error('Service worker registration failed:', err);
      });
    }
  </script>

  <div ng-controller="MainCtrl">
    <div ng-show="showUpdateBanner && !main.exam.papier" ng-cloak id="update-banner" class="update-banner">
      <div class="update-banner-content">
        Une version plus récente est disponible
        <button class="btn btn-primary update-refresh-btn" onclick="window.location.reload()">Actualiser</button>
      </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-cloak>
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand" ng-click="gotoMainURL()">
            QCM FFVL
          </div>
          <span class="hide-xxs hide-lg" ng-hide="main.exam.mode">
            <span ng-hide="hideNavbarButtons">
              <button ng-hide="main.checkAnswers" ng-click="main.checkAnswers = true"
                class="btn btn-default navbar-left navbar-btn navbar-collapsed-btn">Corriger</button>
              <button ng-show="main.checkAnswers" ng-class="scoreClass(main.score)"
                class="btn btn-default navbar-left navbar-btn navbar-collapsed-btn btn-score">{{main.score.percentage}}%</button>
              <button ng-click="reload()" class="btn btn-default navbar-btn navbar-collapsed-btn btn-reload"><span
                  class="glyphicon glyphicon-refresh"></span></button>
            </span>
          </span>
          <span class="hide-xxs hide-lg">
            <span ng-hide="!hideNavbarButtons || loading">
              <button ng-click="gotoMainURL()"
                class="btn btn-default navbar-btn navbar-collapsed-btn btn-retour-apropos">Retour QCM</button>
            </span>
          </span>

          <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
            ng-click="navCollapsed = !navCollapsed" ng-hide="hideNavbarButtons">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
          <ul class="nav navbar-nav" ng-show="hideNavbarButtons">
            <li>
              <button ng-click="gotoMainURL()" class="btn btn-default navbar-left navbar-btn">Retour QCM</button>
            </li>
          </ul>

          <ul class="nav navbar-nav" ng-hide="hideNavbarButtons">
            <li class="dropdown" is-open="isOpen.sport">
              <a class="dropdown-toggle" data-toggle="dropdown">{{$storage.conf.sport}} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" ng-click="isOpen.sport = false">
                <li ng-repeat="sport in main.sport.options">
                  <a ng-click="$storage.conf.sport = sport">{{sport}}</a>
                </li>
              </ul>
            </li>
            <li class="dropdown" is-open="isOpen.level">
              <a class="dropdown-toggle" data-toggle="dropdown">
                <span ng-show="optionsTooLongForWidth()">{{$storage.conf.level|formatQCMTitle}}</span>
                <span ng-hide="optionsTooLongForWidth()">{{$storage.conf.level}}</span>
                <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" ng-click="isOpen.level = false">
                <li ng-repeat="level in main.level.options">
                  <a ng-click="$storage.conf.level = level">{{level}}</a>
                </li>
              </ul>
            </li>
            <li>
            <li class="dropdown" is-open="isOpen.nbquestions">
              <a class="dropdown-toggle" data-toggle="dropdown">
                <span ng-show="optionsTooLongForWidth()">{{$storage.conf.nbquestions|formatQCMTitle}} questions</span>
                <span ng-hide="optionsTooLongForWidth()">{{$storage.conf.nbquestions}} questions</span>
                <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" ng-click="isOpen.nbquestions = false">
                <li ng-repeat="nbquestions in main.nbquestions.options">
                  <a ng-click="$storage.conf.nbquestions = nbquestions">{{nbquestions}} questions</a>
                </li>
              </ul>
            </li>
            </li>
            <li>
            <li class="dropdown" is-open="isOpen.category">
              <a class="dropdown-toggle" data-toggle="dropdown">
                <span ng-show="optionsTooLongForWidth()">{{$storage.conf.category|formatQCMTitle}}</span>
                <span ng-hide="optionsTooLongForWidth()">{{$storage.conf.category}}</span>
                <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" ng-click="isOpen.category = false">
                <li ng-repeat="category in main.category.options">
                  <a ng-click="$storage.conf.category = category">{{category}}</a>
                </li>
              </ul>
            </li>
            </li>
            <li>
            <li class="dropdown" is-open="isOpen.typeExam" ng-click="warnTypeExamChange()">
              <a class="dropdown-toggle" data-toggle="dropdown">{{main.typeExam.checked}} <span
                  class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" ng-click="isOpen.typeExam = false">
                <li ng-repeat="typeExam in main.typeExam.options">
                  <a ng-click="main.typeExam.checked = typeExam">{{typeExam}}</a>
                </li>
              </ul>
            </li>
            <li>
              <span ng-hide="main.exam.mode">
                <button ng-hide="main.checkAnswers" ng-click="main.checkAnswers = true"
                  class="btn btn-default navbar-left navbar-btn btn-corriger">Corriger</button>
                <button ng-show="main.checkAnswers" ng-click="reload()" ng-class="scoreClass(main.score)"
                  class="btn btn-default navbar-left navbar-btn btn-score">
                  Score : {{main.score.user}} / {{main.score.total}} ({{main.score.percentage}}%)
                </button>
              </span>
              <button ng-click="reload()" class="btn btn-default navbar-btn btn-reload"><span
                  class="glyphicon glyphicon-refresh"></span></button>
            </li>
            <li>
              <button ng-click="dialogQCMID()" class="btn btn-default navbar-btn btn-shareqcm"><span
                  class="glyphicon glyphicon-share"></span> Partager</button>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-hide="hideNavbarButtons">
            <li>
              <div class="text-center">
                <a href="#about">
                  <button class="btn btn-default navbar-btn btn-fifty-shades btn-informations"><span
                      class="glyphicon glyphicon-info-sign"></span> Informations</button>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div ng-view ng-click="collapseNav()" ng-class="{'dim':!navCollapsed}" ng-show="showQCM">
    </div>
  </div>
</body>

<!-- Next are Angular templateCaches definitions, so that no webserver is required to use this "web app", and everything runs smoothly once the "app" has been loaded -->

<!-- ###################################################################################################### -->
<!-- ############################# QCMID Dialog (Chargement / Partage du QCM) ############################# -->
<!-- ###################################################################################################### -->

<script type="text/ng-template" id="qcmid.html">
  <div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-share"></span> Partage du QCM</h4>
  </div>
  <div class="modal-body">
    <ng-form name="nameDialog" novalidate role="form">
      <span class="help-block">Le numéro d'identification "ID" identifie de manière unique un questionnaire (pratique, questions, nombre, niveau...)</span>
      <span class="help-block hide-xs">Vous pouvez le modifier avec un ID valide pour charger le questionnaire correspondant.</span>
      <div class="form-group qcmID" ng-class="{ 'has-error': !verifyQCMIDUser() }">
        <label class="control-label" for="course">QCM ID:</label>
        <input type="text" name="ID" class="form-control" ng-model="main.formattedQCMIDUser" ng-blur="QCMIDBlur()" maxlength="23" select-on-focus>
        <button type="button" class="btn btn-info btn-load-ID" ng-click="loadQCMID()" ng-disabled="!verifyQCMIDUser() || main.QCMID == main.QCMIDUser">Charger le questionnaire</button>
      </div>
    </ng-form>
    <hr/>
    <span class="help-block">Pour accéder directement au questionnaire courant, vous pouvez utiliser/partager cette URL :</span>
    <span class="help-block url">{{main.QCMIDURL}}</span>
    <button clipboard class="btn btn-info" supported="true" text="main.QCMIDURL">Copier l'adresse</button>
  </div>
  <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="ok()">Fermer</button>
  </div>
</script>

<!-- ###################################################################################################### -->
<!-- ################################### FFVL communication dialog ######################################## -->
<!-- ###################################################################################################### -->

<script type="text/ng-template" id="ffvldialog.html">
  <div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-share"></span> Au sujet de la question {{q.code}}</h4>
  </div>
  <div class="modal-body">
    <span class="help-block"><b>Un souci avec la question ?</b></span>
    <span class="help-block">Vous souhaitez faire remonter un problème avec la question ou ses réponses (incohérence, mauvaise formulation, fautes de français...).</span>
    <span class="help-block">
    <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;<a href="" ng-click="questionIssue()">request-qcm@ffvl.fr</a></span>
    </span>
    <hr/>
    <span class="help-block"><b>Besoin d'explications ?</b>
    <span class="help-block">Rentrez en contact avec nos moniteurs FFVL</span>
    <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;&nbsp;<a href="" ng-click="questionAskHelp()">les-moniteurs-vous-repondent@ffvl.fr</a></span>
  </div>
  <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="ok()">Fermer</button>
  </div>
</script>

<!-- ###################################################################################################### -->
<!-- ##########################################  QCM HTML  ################################################ -->
<!-- ###################################################################################################### -->

<script type="text/ng-template" id="qcm.html">
      <div class="loader" ng-show="loading">Chargement...</div>
      <div class="loader" ng-show="!loading && filtered_result.length === 0">Aucune question disponible avec ces filtres</div>
      <div ng-hide="loading || (main.exam.papier && !browserChrome() && !browserCheckOverride)">
          <div >
              <div class="qcm-title" ng-show="main.exam.papier">
                      <button class="btn btn-default center-block btn-print" ng-click="printQCM()">Imprimer</button>
                      <span>QCM FFVL {{$storage.conf.sport}} {{$storage.conf.level}} (Exemplaire <span ng-show="main.exam.papierCandidat">Candidat</span><span ng-show="main.exam.papierExaminateur">Examinateur</span>)</span>
                      <span class="pull-right">Code: {{main.QCMIDCRC}}</span>
                  </div>
              <div class="qcm-title row" ng-show="main.exam.papier && categorySelected()"<>
                <span class="qcm-title-category col-lg-12 col-xs-12">*** Questions restreintes à la catégorie : {{$storage.conf.category}} ***</span>
              </div>
              <div class="qcm-body">
                  <div ng-show="main.exam.papier" ng-repeat="header in headerExamPapier">
                    <div class="panel panel-default grid-item panel-header-exam" ng-class="{'examinateur':main.exam.papierExaminateur}">
                      <div class="panel-heading">
                        <div class="row header-exam-title">
                          <span class="col-lg-11 col-xs-11">{{header.title}}</span>
                        </div>
                      </div>
                      <div class="panel-body header-exam">
                        <div ng-repeat="item in header.items">
                            <div class="checkbox row header-exam-item" >
                              <span class="col-lg-11 col-xs-11">{{item}} :</span>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div ng-repeat="q in filtered_result">
                      <div class="panel panel-default grid-item" ng-class="{'panel-success':successQuestion(q), 'panel-danger':failedQuestion(q), 'panel-warning': warningQuestion(q), 'panel-info':isHelpQuestion(q)}">
                          <div class="panel-heading" ng-click="helpQuestionToggle(q)" ng-show="isHelpQuestion(q) && !main.exam.mode">
                              <div class="row question ">
                                  <span class="col-lg-12 col-xs-12 help-header"><span class="help-msg">Contacter la FFVL au sujet de cette question</span><span class="glyphicon glyphicon-arrow-right help-arrow"></span><a><span class="glyphicon glyphicon-envelope help-mailto" ng-click="ffvldialog(q, $index+1)"></a></span>
                              </div>
                          </div>
                          <div class="panel-heading" ng-click="helpQuestionToggle(q)">
                              <div class="row question ">
                                  <span class="col-lg-11 col-xs-11">{{($index+1)}}. {{q.question}}</span>
                                  <span class="col-lg-1 col-xs-1 pull-right points" ng-show="main.checkAnswers && !main.exam.mode"> {{getPoints(q)}}</span>
                              </div>
                          </div>
                          <div class="panel-body answers" ng-click="resetHelpQuestion()">
                              <div ng-repeat="answer in q.ans">
                                  <div class="checkbox" >
                                      <input type="checkbox" ng-disabled="main.exam.papierCandidat ||
                                      (main.checkAnswers && !main.exam.papierExaminateur) ||
                                      (main.exam.papierExaminateur && !answer.checked) ||
                                      (main.exam.papierExaminateur && answer.pts==0) ||
                                      isHelpQuestion(q) ||
                                      !navCollapsed"
                                      ng-model="answer.checked"
                                      ng-hide="adAnswerNotChecked(answer)">
                                      <div
                                      class="row answer"
                                      ng-class="{
                                      'good-answer':goodAnswer(answer),
                                      'bad-answer':badAnswer(answer),
                                      'good-answer-not-checked':goodAnswerNotChecked(answer),
                                      'bad-answer-not-checked':badAnswerNotChecked(answer),
                                      'help-answer':isHelpQuestion(q),
                                      'smartphone':isSmartphone(),
                                      'android':isAndroid(),
                                      'iphone':isIphone(),
                                      'checked-answer':answer.checked
                                      }">
                                          <span class="col-lg-11 col-xs-11 answer-text" ng-class="{'smartphone':isSmartphone(),'android':isAndroid(),'iphone':isIphone(),}" ng-click="toggleCheck(q, answer)" ng-bind="answer.text"></span>
                                          <span class="col-lg-1 col-xs-1 pull-right points" ng-show="main.checkAnswers || main.exam.papierExaminateur" ng-bind="answer.pts"></span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div ng-show="main.exam.papier && !browserChrome() && !browserCheckOverride">
            <div class="qcm-title">Merci d'utiliser Chrome ou un dérivé (Chromium, Brave...) pour l'impression de l'examen papier.</div>
            <div class="qcm-subtitle">Si vous souhaitez forcer l'impression de l'examen papier avec votre navigateur, appuyez <a ng-click="browserCheckOverride=true">ici</a>.</div>
      </div>
</script>

<!-- ###################################################################################################### -->
<!-- ###########################################  ABOUT  ################################################## -->
<!-- ###################################################################################################### -->

<script type="text/ng-template" id="about.html">
      <div class="about">
          <div class="panel panel-default">
              <div class="panel-heading">Version {{version}} &nbsp; &mdash; &nbsp; Questionnaire FFVL {{qcmVersion}}</div>
              <div class="panel-body">
                  Auteur : Jérémy Ruffet (<a href="mailto:sat@airnux.fr">sat@airnux.fr</a>)
                  <br/><br/>
                  Cette application web est développée bénévolement, sur mon temps libre.
                  <br/>
                  Elle est sous licence libre (MIT) et accessible sur github (<a href="https://github.com/jruffet/qcmffvl">https://github.com/jruffet/qcmffvl</a>).
                  <br/><br/>
                  Le contenu du questionnaire est rédigé par la commission formation de la FFVL.
                  <br/>
                  Un questionnaire est considéré comme réussi si le score est d'au moins 75%.
                  <br/><br/>
                  Suivant les recommandations de la FFVL, chaque série de 10 questions est répartie comme suit :
                  <ul>
                    <li>Météo : 20%</li>
                    <li>Pilotage : 20%</li>
                    <li>Mécavol : 20%</li>
                    <li>Réglementation : 10%</li>
                    <li>Matériel : 10%</li>
                    <li>Facteurs humains : 10%</li>
                    <li>Milieu naturel : 10%</li>
                  </ul>
                  <b>Pour tout problème avec une question ou ses réponses : </b> merci de cliquer sur la question (en mode révision), puis de cliquer sur l'enveloppe.
                  <br/>
                  Pour une demande d'ajout, reprenez le même mode opératoire en choisissant n'importe quelle question.
                  <br/><br/>
                  N'hésitez pas à m'envoyer des rapports de bugs, problèmes d'affichage, des suggestions ou tout simplement un petit mail sympa !
                  <br/>
                  <div class="about-category row">
                      <span class="about-category-title col-xs-12 col-md-12 col-lg-12"><hr/>Version Web</span>
                      <div class="about-category-part col-xs-12 col-md-12 col-lg-12">
                          La version web a été conçue pour être multi-support (mobile / tablette / desktop) et multi-OS (Linux / Windows / Mac...).
                          <br/><br/>
                          Elle a été testée comme fonctionnant correctement avec Brave et Firefox.
                          <br/>
                          Merci d'utiliser un de ces 2 navigateurs si vous expérimentez des soucis.
                      </div>
                  </div>
                  <div class="about-category row">
                    <span class="about-category-title col-xs-12 col-md-12 col-lg-12"><hr/>Version Android</span>
                    <div class="about-category-part col-xs-12 col-md-12 col-lg-12">
                        Vous pouvez installer cette web app sur votre smartphone avec Brave / Firefox / Chrome / Etc. en utilisant "Ajouter à l'écran d'accueil".
                    </div>
                 </div>
              </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading about">CHANGELOG</div>
              <div class="panel-body">
                <div ng-repeat="v in changelog" class="changelog-version row">
                  <span class="changelog-version-title col-xs-12 col-md-12 col-lg-12">Version {{v.version}}</span>
                  <div ng-if="v.changes && v.changes.length" class="changelog-part col-xs-12 col-md-12 col-lg-12">
                    <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Améliorations / Changements</div>
                    <ul class="changelog-content">
                      <li ng-repeat="item in v.changes">{{item}}</li>
                    </ul>
                  </div>
                  <div ng-if="v.bugfixes && v.bugfixes.length" class="changelog-part col-xs-12 col-md-12 col-lg-12">
                    <div class="changelog-title col-xs-12 col-md-12 col-lg-12">Bugfixes</div>
                    <ul class="changelog-content">
                      <li ng-repeat="item in v.bugfixes">{{item}}</li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>

          <div class="panel panel-default">
              <div class="panel-heading">Remerciements</div>
              <div class="panel-body">
                <div ng-repeat="v in thanks" class="row">
                    <div class="thanks-block col-xs-12 col-md-12 col-lg-12">
                        <div class="thanks-title col-xs-12 col-md-12 col-lg-12">{{v.title}}</div>
                        <ul ng-if="v.content && v.content.length" class="thanks-content">
                            <li ng-repeat="item in v.content">{{item}}</li>
                        </ul>
                    </div>
                  </div>
              </div>
          </div>
      </div>
</script>

</html>
